@font-face {
    font-family: 'source_sans_probold';
    src: font_url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         font_url('sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prolight';
    src: font_url('sourcesanspro-light-webfont.woff2') format('woff2'),
         font_url('sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prosemibold';
    src: font_url('sourcesanspro-semibold-webfont.woff2') format('woff2'),
         font_url('sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}